#
#Copyright (c) 2025 Qualcomm Innovation Center, Inc. All rights reserved.
#SPDX-License-Identifier: BSD-3-Clause-Clear
#

on boot
    export COMMONAPI_CONFIG /vendor/etc/commonapi4someip_default_tp.ini
    export VSOMEIP_CONFIGURATION_vsomeip_daemon_vlan1500 /vendor/etc/vsomeip_vlan1500.json

#Create directories for vsomeip_daemon services    
on post-fs-data
    mkdir /data/vendor/someip 0770 vendor_soa vendor_soa
    chmod 0770 /data/vendor/someip
    mkdir /data/vendor/vsomeip_daemon 0770 vendor_soa vendor_soa
    chmod 0770 /data/vendor/vsomeip_daemon

service vsomeip_daemon /vendor/bin/vsomeip_daemon
    class main
    user vendor_soa
    group vendor_soa
    disabled

on property:sys.boot_completed=1
    start vsomeip_daemon
    
